<!DOCTYPE HTML>
<html>
<head>
	<title>즐거운 여행</title>
	<meta charset="utf-8">
	<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- CSS 파일 경로 수정 -->
	<link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>

<!-- Header -->
<header id="header">
	<div class="logo"><a href="index.html">여행 <span>World</span></a></div>
	<a href="#menu"><span>Menu</span></a>
</header>

<!-- Nav -->
<nav id="menu">
	<ul class="links">
		<li><a href="index.html">버튼예시1입니다</a></li>
		<li><a href="generic.html">버튼예시2입니다</a></li>
		<li><a href="elements.html">버튼예시3입니다</a></li>
		<li><a href="list.html">list(게시판 접근버튼)</a></li>
	</ul>
</nav>

<!-- Banner -->
<section id="banner" class="bg-img" data-bg="images/banner.jpg"> <!-- 경로 수정 -->
	<div class="inner">
		<header><h4>여행가자</h4></header>
	</div>
	<a href="#one" class="more">Learn More</a>
</section>

<!-- One -->
<section id="one" class="wrapper post bg-img" data-bg="images/banner2.jpg"> <!-- 경로 수정 -->
	<div class="inner">
		<article class="box">
			<header><h2>두번째 페이지</h2><p>2024.10.10</p></header>
			<div class="content">
				<p>두번째 페이지 내용</p>
			</div>
			<footer><a href="generic.html" class="button alt">더 알아보기</a></footer>
		</article>
	</div>
	<a href="#two" class="more">더 알아보기</a>
</section>

<!-- Two -->
<section id="two" class="wrapper post bg-img" data-bg="images/banner5.jpg"> <!-- 경로 수정 -->
	<div class="inner">
		<article class="box">
			<header><h2>세번째</h2><p>2024.10.11</p></header>
			<div class="content">
				<p>세번째</p>
			</div>
			<footer><a href="generic.html" class="button alt">더 알아보기</a></footer>
		</article>
	</div>
	<a href="#three" class="more">더 알아보기</a>
</section>

<!-- Three -->
<section id="three" class="wrapper post bg-img" data-bg="images/banner4.jpg"> <!-- 경로 수정 -->
	<div class="inner">
		<article class="box">
			<header><h2>네번째</h2><p>2024.10.12</p></header>
			<div class="content">
				<p>네번째</p>
			</div>
			<footer><a href="generic.html" class="button alt">더 알아보기</a></footer>
		</article>
	</div>
	<a href="#four" class="more">더 알아보기</a>
</section>

<!-- Four -->
<section id="four" class="wrapper post bg-img" data-bg="images/banner3.jpg"> <!-- 경로 수정 -->
	<div class="inner">
		<article class="box">
			<header><h2>다섯번째</h2><p>2024.10.13</p></header>
			<div class="content">
				<p>다섯번째</p>
			</div>
			<footer><a href="generic.html" class="button alt">더 알아보기</a></footer>
		</article>
	</div>
</section>

<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<h2>연락주세요</h2>
		<form action="#" method="post">
			<div class="field half first">
				<label for="name">Name</label>
				<input name="name" id="name" type="text" placeholder="Name">
			</div>
			<div class="field half">
				<label for="email">Email</label>
				<input name="email" id="email" type="email" placeholder="Email">
			</div>
			<div class="field">
				<label for="message">Message</label>
				<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
			</div>
			<ul class="actions"><li><input value="Send Message" class="button alt" type="submit"></li></ul>
		</form>

		<ul class="icons">
			<li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
		</ul>
	</div>
</footer>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/skel.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
